{% extends "base.html" %}
{% block content %}
    Index Page
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100 h-80" src="https://cdn.glitch.global/18ad89d5-6728-439f-9acc-d2ee1d40eeba/pythonflask.jpeg?v=1645861364012"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive">Python/Flask</h1>
          <a href="/page1"><button type="button" class="btn btn-primary">Go To Page</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100 h-80" src="https://cdn.glitch.global/18ad89d5-6728-439f-9acc-d2ee1d40eeba/docker.jpeg?v=1645861366347"
          alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive">Docker</h1>
          <a href="/page1"><button type="button" class="btn btn-primary">Go To Page</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100 h-80" src="https://cdn.glitch.global/18ad89d5-6728-439f-9acc-d2ee1d40eeba/git.png?v=1645861369329"
          alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive">Git</h1>
          <a href="/page1"><button type="button" class="btn btn-primary" href="/page3">Go To Page</button></a>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
{% endblock %}