{% extends "base.html" %}
{% block content %}
    Page 1
    <h1>Python/Flask</h1>
    <div class="card">
      <div class="card-body">
        <b>pytest</b> - a framework that makes it easy to write small, readable tests, and can scale to support complex functional testing for applications and libraries. In pytest, the assert statement is used to verify test expectations. Simple pages contains html files for different pages of the application and along with simple_pages_test which listens to http response of each GET request and returns an error status code if there is an error.
          <h1>Pytest example:</h1>
          <img src="https://cdn.glitch.global/18ad89d5-6728-439f-9acc-d2ee1d40eeba/pytestexample.png?v=1646072331169" class="img-fluid" alt="...">
            <b>Flask documentation:</b> <a href="https://flask.palletsprojects.com/en/2.0.x/">https://flask.palletsprojects.com/en/2.0.x/</a>
            <b>Flask blueprint documentation:</b> <a href="https://flask.palletsprojects.com/en/2.0.x/blueprints/">https://flask.palletsprojects.com/en/2.0.x/blueprints/</a>
      <h1>File Structure:</h1>
          <img src="https://cdn.glitch.global/18ad89d5-6728-439f-9acc-d2ee1d40eeba/filestructure.png?v=1646106369532" class="img-fluid" alt="...">
      </div>
    </div>
{% endblock %}