{% extends "base.html" %}
{% block content %}
    Page 3
    <h1>Article 3 (OOPs)</h1>
    <div class="card">
      <div class="card-body">
            <b>Encapsulation</b>
            <p>In the calculator program the concept of encapsulation can be seen where the Calculator class is created along with its properties and methods. In the code below, the Calculator class encapsulates the statics methods of add, subtract, and divide. </p>
            <img src="https://cdn.glitch.global/18ad89d5-6728-439f-9acc-d2ee1d40eeba/encaps.png?v=1648281559468"/>
            <b>Inheritance</b>
            <p>Inheritance is parent class to children relationship. The code below is an example of encapsulation from the calculator program. In the case of the calculator program, an example of inheritance is when the Addition class takes in the pass class Calculation as its parameter. In doing so, this allows the Addition class to inherit the properties of the Calculation class.</p>
            <img src="https://cdn.glitch.global/18ad89d5-6728-439f-9acc-d2ee1d40eeba/inheritance.png?v=1648277630353"/>
            <b>Polymorphism</b>
            <p>In the Calculator class the concept of polymorphism can be seen when the creation of variable named calculation and assigning the create method from the Calculation class. The create method have different forms and all over the calculator program the create method is used for different types. The code below is an example of the calculator program using polymorphism.</p>
            <img src="https://cdn.glitch.global/18ad89d5-6728-439f-9acc-d2ee1d40eeba/abstraction-poly.png?v=1648277625953"/>
            <b>Abstraction</b>
            <p>In line 39, the code below demonstrates an example of abstraction where the add method is being called. The whole concept of this is that the user does not need to know the internal details of the add method, all they need to know is that it takes two arguments and the method will do the rest.</p>
            <img src="https://cdn.glitch.global/18ad89d5-6728-439f-9acc-d2ee1d40eeba/inheritance.png?v=1648277630353"/>
      </div>
    </div>
{% endblock %}