{% extends "base.html" %}
{% block content %}
    Page 1
    <h1>OOP Glossary</h1>
    <div class="card">
      <div class="card-body">
          <p><b>Inheritance - </b>In simplest terms, inheritance is concerned with the relationship between classes and method, which is like a parent and a child. A child can be born with some of the attributes of the parents. Inheritance ensures reusable of codes just the way multiple children can inherit the attributes of their parents.</p>
          <p><b>Instantiation - </b>In programming, instantiation is the creation of a real instance or particular realization of an abstraction or template such as a class of objects or a computer process.</p>
          <p><b>Object - </b>Object is an instance of a class; objects are the things you think about first in designing a program and they are also the units of code that are eventually derived from the process.</p>
          <p><b>Class - </b>A class is a template for creating objects in program. It is a logical entity.</p>
          <p><b>Namespace - </b>It is a declarative region that provides a scope to the identifiers (the names of types, functions, variables, etc) inside it.</p>
          <p><b>Constructor - </b>A special method of a class or structure in OOP that initializes a newly created object of that type.</p>
          <p><b>Fixture - </b>A sample data that allows you to populate your testing database with predefined data before your tests run. Fixtures are database independent and written YAML.</p>
          <p><b>Type hint - </b>Providing hints to function to only accept the given data type.</p>
          <p><b>Type cast - </b>A method of changing an entity from one data type to another.</p>
          <p><b>Unit test - </b>A method by which individual units of source code are tested to determine if they are fit for use.</p>
          <p><b>Static - </b>Static means no matter how many objects of the class are created, there is only one copy of the static member.</p>
          <p><b>Instance method - </b>An instance method is a method that belongs to instances of class, not to the class itself.</p>
          <p><b>Instance property - </b>A piece of data that is stored within an object.</p>
          <p><b>Static method - </b>A method that belongs to a class rather than an instance of class.</p>
          <p><b>Encapsulation - </b>In OOP, the notion of encapsulation refers to the bundling of data, along with the methods that operate on that data, into a single unit.</p>
          <p><b>Polymorphism - </b>Describes situations in which something occurs in several different forms.</p>
          <p><b>Abstraction - </b>The concept of OOP that "shows" only essential attributes and "hides" unnecessary information.</p>
          <p><b>SOLID - </b>It is an acronym for five principles that help software developers design maintainable and extendable classes. It stands for Single repsonsibility, Open-closed, Liskov substitution, Interface segregation and dependency inversion.</p>
          <p><b>Design patterns - </b>Concerned with the way of creating objects. These design patterns are used when a decision must be made at the time of instantiation of class.</p>
      </div>
    </div>
{% endblock %}