{% extends "base.html" %}
{% block content %}
    Page 2
    <h1>Importance of AAA Testing</h1>
    <div class="card">
      <div class="card-body">
        <img src="https://cdn.glitch.global/18ad89d5-6728-439f-9acc-d2ee1d40eeba/AAAtutorial.png?v=1648269970384" />
          <p>Above is an example of a simple AAA testing using python. We have a function that test if the result of addition equals to two.</p>
          <p>1. In line 3, The "Arrange" step creates a variable named num for testing.</p>
          <p>2. In line 6, The "Act" step assigns the number 2 to the variable num.</p>
          <p>3. In line 9, The "Assert" step verifies that num is equals to two.</p>
          <h2>The Importance of Testing in Python</h2>
          <p>Testing serves as an executable documentation or the application, and they also serve as an invaluable reminder of bugs you've fixed in the past. Testing decreases the development time, thus it allows quickly deliver functional code.</p>
          <ul>
              <li><b>Detecting problems early</b> - Unit tests discloses problems early into the development.</li>
              <li><b>Mitigating change</b> - Allows the developer to refactor the source code during the testing stage and later on, while still making sure the module works as expected.</li>
              <li><b>Simplifying integration</b> - By testing the separate components of an application first and then testing them altogether, integration testing becomes much easier.</li>
              <li><b>Source of documentation</b> - THe unit testing with doctest provides better insight</li>
          </ul>
      </div>
    </div>
{% endblock %}