{% extends "base.html" %}
{% block content %}
    Page 2
    <h1>Docker</h1>
    <div class="card">
      <div class="card-body">
          <p><b>Containers - </b>A container is a standard unit of software that packages up code and all its dependencies so the application runs quickly and reliably from one computing environment to another.</p>
          <p><b>Image - </b>A container image is a lightweight, standalone, executable package of software that includes everything needed to run an application: code, runtime, system tools, system libraries, and settings.</p>
          <p><b>docker run - </b>run command is used to create a container from an image</p>
          <p><b>docker build - </b>build command is used to build an image from a specified docker file</p>
          <p><b>docker ps - </b>this command is used to list running containers</p>
          <p><b>docker push - </b>push command is used to push an image to the docker hub repository</p>
          <p>How to start docker project: You can start the project by running the command docker compose up --build and you can access the container by docker exec -it container name</p>
          <p>Docker repo link: https://hub.docker.com/repository/docker/rjgilo2799/docker-flask2</p>
      </div>
    </div>
{% endblock %}